<header>
  <nav class="header-nav">
    <a class="header-title" href="/">express-api</a>
    <ul>
      <li><a href="/authors">Forfattare</a></li>
      <li><a href="/authors/new">Läg till forfattare</a></li>
      <li><a href="/books">Böcker</a></li>
      <li><a href="/books/new">Läg till bok</a></li>
    </ul>
  </nav>
</header>